.hide{
  display: none
}

.testSearch{
	background: gray;
}

.css3Test{
	transform: scale(2,2);
	transform: rotate(70deg);
}


.testRem{
  width:100px;
  height:100px;
  background:gray;
}

.testUrlLoader{
  width:300px;
  height:300px;
  border: 2px solid green;
  //background:url('ran.jpg') no-repeat;

  background:url('../../../../image/ran.jpg') no-repeat;
}

.testUrlLoader2{
  width:330px;
  height:220px;
  border: 2px solid ;
  background:url('../../../../image/dog.jpg') no-repeat;
  background-size: 100%;
}

.testFonts{
  font-size: 24px;
  font-family: "GothamBold";
  color: #51aaf2;
}

.testWeiruan{
  font-family: "Microsoft YaHei";
}
























